$color-primary-blue: rgb(0, 67, 206);
$color-text-default: #3a3a3a;
$color-text-light: #6d6d6d;
$color-border-light: #83838342;
$color-secondary-green: #10ad6c;
$color-background-grey: #3a3a3a;
$color-background-grey-light: #ddd;
$color-shadow-default: #abacaf;
$color-white: #fff;
